# Azure Configuration
export AZURE_TENANT_ID=#Your export AZURE_TENANT_ID here
export AZURE_CLIENT_ID=#Your export AZURE_CLIENT_ID here
export AZURE_CLIENT_SECRET=#Your export AZURE_CLIENT_SECRET here
export AZURE_STORAGE_ACCOUNT_NAME=#Your AZURE_STORAGE_ACCOUNT_NAME here
export AZURE_STORAGE_CONTAINER_NAME=#Your AZURE_STORAGE_CONTAINER_NAME here

# Azure DevOps Configuration
# Azure DevOps Personal Access Token 
export AZDO_PERSONAL_ACCESS_TOKEN=#Your AZDO_PERSONAL_ACCESS_TOKEN here
# Azure DevOps Client ID and Secret
export AZDO_CLIENT_ID=#Your export AZDO_CLIENT_ID hereECRET here
export AZDO_CLIENT_SECRET=#Your export AZDO_CLIENT_SECRET here

# Node.js Configuration
export NODE_OPTIONS=--no-node-snapshot

# PostgreSQL Configuration
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres

# Backstage Configuration
export BACKSTAGE_MANIFEST_FILE=./backstage-manifest.json
