:root {
  --bui-font-regular: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  --bui-font-weight-regular: 400;
  --bui-font-weight-bold: 700;
  --bui-black: #000;
  --bui-white: #fff;
  --bui-fg-primary: rgba(0, 0, 0, 0.87);
  --bui-fg-secondary: #6E6E6E;
  --bui-fg-link: #C30045;
  --bui-fg-link-hover: #2196F3;
  --bui-fg-disabled: rgba(0, 0, 0, 0.38);
  --bui-fg-solid: #fff;
  --bui-fg-solid-disabled: rgba(0, 0, 0, 0.38);
  --bui-fg-tint: #6E6E6E;
  --bui-fg-tint-disabled: #DDD;
  --bui-fg-danger: rgb(170, 46, 37);
  --bui-fg-warning: rgb(178, 106, 0);
  --bui-fg-success: rgb(53, 122, 56);
  --bui-bg: #F8F8F8;
  --bui-bg-surface-1: #FFFFFF;
  --bui-bg-surface-2: #F8F8F8;
  --bui-bg-solid: #C30045;
  --bui-bg-solid-hover: rgb(166, 0, 59);
  --bui-bg-solid-pressed: rgb(136, 0, 48);
  --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
  --bui-bg-tint: transparent;
  --bui-bg-tint-hover: rgba(195, 0, 69, 0.4);
  --bui-bg-tint-pressed: rgba(195, 0, 69, 0.6);
  --bui-bg-tint-disabled: rgba(0, 0, 0, 0.12);
  --bui-bg-danger: rgb(246, 104, 94);
  --bui-bg-warning: rgb(255, 172, 51);
  --bui-bg-success: rgb(111, 191, 115);
  --bui-border-danger: #f44336;
  --bui-border-warning: #ff9800;
  --bui-border-success: #4caf50;
  --bui-border: #E6E6E6;
  --bui-ring: #FFFBCC;
}
 
[data-theme-mode='dark'] {
  --bui-bg-solid: #C30045;
  --bui-bg-solid-hover: rgb(166, 0, 59);
  --bui-bg-solid-pressed: rgb(136, 0, 48);
  --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
  --bui-bg-tint: transparent;
  --bui-bg-tint-hover: #9cc9ff1f;
  --bui-bg-tint-pressed: #9cc9ff29;
  --bui-bg-tint-disabled: transparent;
  --bui-fg-solid: #fff;
}