:root {
  --bui-font-regular: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  --bui-font-weight-regular: 400;
  --bui-font-weight-bold: 700;
  --bui-black: #000;
  --bui-white: #fff;
  --bui-fg-primary: rgba(0, 0, 0, 0.87);
  --bui-fg-secondary: #6E6E6E;
  --bui-fg-link: #C30045;
  --bui-fg-link-hover: #2196F3;
  --bui-fg-disabled: rgba(0, 0, 0, 0.38);
  --bui-fg-solid: #fff;
  --bui-fg-solid-disabled: rgba(0, 0, 0, 0.38);
  --bui-fg-tint: #6E6E6E;
  --bui-fg-tint-disabled: #DDD;
  --bui-fg-danger: rgb(170, 46, 37);
  --bui-fg-warning: rgb(178, 106, 0);
  --bui-fg-success: rgb(53, 122, 56);
  --bui-bg: #F8F8F8;
  --bui-bg-surface-0: #F8F8F8;
  --bui-bg-surface-1: #FFFFFF;
  --bui-bg-surface-2: #F8F8F8;
  --bui-bg-solid: #C30045;
  --bui-bg-solid-hover: rgb(166, 0, 59);
  --bui-bg-solid-pressed: rgb(136, 0, 48);
  --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
  --bui-bg-danger: rgb(246, 104, 94);
  --bui-bg-warning: rgb(255, 172, 51);
  --bui-bg-success: rgb(111, 191, 115);
  --bui-border-danger: #f44336;
  --bui-border-warning: #ff9800;
  --bui-border-success: #4caf50;
  --bui-border: #E6E6E6;
  --bui-ring: #FFFBCC;

  --belui-chip-bg-color1: #C30045;
  --belui-chip-bg-color2: #E11D5E;
  --belui-chip-bg-color3: #DD9800;
  --belui-chip-bg-color4: #3A6EA5;
  --belui-chip-bg-color5: #2F8F83;

  --belui-chip-fg-color1: #F8F8F8;
  --belui-chip-fg-color2: #F8F8F8;
  --belui-chip-fg-color3: #F8F8F8;
  --belui-chip-fg-color4: #F8F8F8;
  --belui-chip-fg-color5: #F8F8F8;
  
  .custom-bui-TableRow {
    border-bottom: 1px solid var(--bui-border);
    transition: color 0.2s ease-in-out;

    &[data-selected] {
      background-color: var(--bui-bg-tint-pressed);
    }

    &[data-pressed] {
      background-color: var(--bui-bg-tint-pressed);
    }

    &[data-disabled] {
      background-color: var(--bui-bg-tint-disabled);
    }

    &[data-react-aria-pressable='true'] {
      cursor: pointer;
    }

    &:nth-child(even) {
      background-color: var(--bui-bg-surface-2);
    }
  }

}

[data-theme-mode='dark'] {
  --bui-bg-solid: #C30045;
  --bui-bg-solid-hover: rgb(166, 0, 59);
  --bui-bg-solid-pressed: rgb(136, 0, 48);
  --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
  --bui-bg-tint: transparent;
  --bui-bg-tint-hover: #9cc9ff1f;
  --bui-bg-tint-pressed: #9cc9ff29;
  --bui-bg-tint-disabled: transparent;
  --bui-fg-solid: #fff;
}