:root {
  /* Chip colors */
  --belui-chip-bg-color1: #c9d6ff;
  --belui-chip-bg-color2: #ffd6e8;
  --belui-chip-bg-color3: #cdede4;
  --belui-chip-bg-color4: #e6d6ff;
  --belui-chip-bg-color5: #dce3ea;

  /* Themes */
  [data-theme-mode='light'] {
    --bui-accent-bg: #c30045;
    --bui-accent-bg-hover: rgb(166, 0, 59);
    --bui-accent-bg-disabled: rgba(0, 0, 0, 0.12);
    --bui-fg-announcement: #c30045;

    --bui-accent-fg: #fff;
    --bui-accent-fg-disabled: rgba(0, 0, 0, 0.38);
    --bui-ring: #c30045;

    /* Deprecated */
    --bui-fg-info: #c30045;
    --bui-fg-solid: #fff;
    --bui-bg-solid: #c30045;
    --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
    /*
    --bui-fg-disabled: rgba(0, 0, 0, 0.38);
    --bui-fg-solid-disabled: rgba(0, 0, 0, 0.38);
    --bui-fg-danger: rgb(170, 46, 37);
    --bui-fg-warning: rgb(178, 106, 0);
    --bui-fg-success: rgb(53, 122, 56);
    --bui-bg-danger: rgb(246, 104, 94);
    --bui-bg-warning: rgb(255, 172, 51);
    --bui-bg-success: rgb(111, 191, 115);
    --bui-border-danger: #f44336;
    --bui-border-warning: #ff9800;
    --bui-border-success: #4caf50;
    --bui-bg-solid: #c30045;
    --bui-bg-solid-hover: rgb(166, 0, 59);
    --bui-bg-solid-pressed: rgb(136, 0, 48);
    --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
    */
  }

  [data-theme-mode='dark'] {
    --bui-accent-bg: #c30045;
    --bui-accent-bg-hover: rgb(166, 0, 59);
    --bui-accent-bg-disabled: rgba(0, 0, 0, 0.12);
    --bui-fg-announcement: #c30045;

    --bui-accent-fg: #424242;
    --bui-accent-fg-disabled: rgba(0, 0, 0, 0.38);
    --bui-ring: #c30045;

    /* Deprecated */
    --bui-fg-info: #ff80a5;
    --bui-fg-solid: #fff;
    --bui-bg-solid: #c30045;
    --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
    /*
    --bui-fg-disabled: rgba(0, 0, 0, 0.38);
    --bui-fg-solid-disabled: rgba(0, 0, 0, 0.38);
    --bui-fg-danger: rgb(170, 46, 37);
    --bui-fg-warning: rgb(178, 106, 0);
    --bui-fg-success: rgb(53, 122, 56);
    --bui-bg-danger: rgb(246, 104, 94);
    --bui-bg-warning: rgb(255, 172, 51);
    --bui-bg-success: rgb(111, 191, 115);
    --bui-border-danger: #f44336;
    --bui-border-warning: #ff9800;
    --bui-border-success: #4caf50;
    --bui-bg-solid: #c30045;
    --bui-bg-solid-hover: rgb(166, 0, 59);
    --bui-bg-solid-pressed: rgb(136, 0, 48);
    --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
    */
  }
}

.denseTable .bui-TableRow {
  border-bottom: 0px;
  transition: color 0.2s ease-in-out;
  margin: 0;
  padding: 0;
}

.denseTable .bui-TableRow[data-react-aria-pressable='true'] {
  cursor: pointer;
}

.denseTable .bui-TableRow:hover {
  background-color: #00000000;
}

.denseTable .bui-TableRow:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

.denseTable .bui-TableCell {
  font-size: var(--bui-font-size-3);
  min-width: 0;
  overflow: hidden;
}

.centered-col-header .bui-TableHeadContent {
  justify-content: center;
}