:root {
  /* Themes */
  [data-theme-mode='light'] {
    --bui-accent-bg: #c30045;
    --bui-accent-bg-hover: rgb(166, 0, 59);
    --bui-accent-bg-disabled: rgba(0, 0, 0, 0.12);
    --bui-fg-announcement: #c30045;

    --bui-accent-fg: #fff;
    --bui-accent-fg-disabled: rgba(0, 0, 0, 0.38);
    --bui-ring: #c30045;

    /* Deprecated : used by bui components */
    --bui-fg-info: #c30045;
    --bui-fg-solid: #fff;
    --bui-bg-solid: #c30045;
    --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
    --bui-bg-solid-hover: #74002a;

    /* Chip colors */
    --belui-chip-bg-color1: #c9d6ff;
    --belui-chip-bg-color2: #ffd6e8;
    --belui-chip-bg-color3: #cdede4;
    --belui-chip-bg-color4: #e6d6ff;
    --belui-chip-bg-color5: #dce3ea;
  }

  [data-theme-mode='dark'] {
    --bui-accent-bg: #c30045;
    --bui-accent-bg-hover: rgb(166, 0, 59);
    --bui-accent-bg-disabled: rgba(0, 0, 0, 0.12);
    --bui-fg-announcement: #ff80a5;

    --bui-accent-fg: #424242;
    --bui-accent-fg-disabled: rgba(0, 0, 0, 0.38);
    --bui-ring: #c30045;

    /* Deprecated : used by bui components */
    --bui-fg-info: #ff80a5;
    --bui-fg-solid: #fff;
    --bui-bg-solid: #c30045;
    --bui-bg-solid-disabled: rgba(0, 0, 0, 0.12);
    --bui-bg-solid-hover: #74002a;

    /* Chip colors */
    --belui-chip-bg-color1: #2a3a62;
    --belui-chip-bg-color2: #5c2b3f;
    --belui-chip-bg-color3: #224b40;
    --belui-chip-bg-color4: #432e60;
    --belui-chip-bg-color5: #38404a;
  }
}

.denseTable .bui-TableRow {
  border-bottom: 0px;
  transition: color 0.2s ease-in-out;
  margin: 0;
  padding: 0;
}

.denseTable .bui-TableRow[data-react-aria-pressable='true'] {
  cursor: pointer;
}

.denseTable .bui-TableRow:hover {
  background-color: #00000000;
}

.denseTable .bui-TableRow:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

.denseTable .bui-TableCell {
  font-size: var(--bui-font-size-3);
  min-width: 0;
  overflow: hidden;
}

.centered-col-header .bui-TableHeadContent {
  justify-content: center;
}
