.searchBarInput {
    max-width: 60vw;
    margin: auto;
    background-color: var(--bui-fg);
    border-radius: 50px !important;
  box-shadow: var(--mui-shadow-1);
}

.searchBarOutline {
    border-style: none;
}
